@charset "UTF-8";


*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
  width: 0px;
  height: 100vw;
}

img{
      width: 100vw;
  }

  a{
    text-align: center;
    background-color:#ff0000;
    color:#fff;
    font-weight: bolder;
    padding: 0.6em 0.8em;
    display: block;
    text-decoration: none;
    border-radius: 4px; 
    -webkit-animation: btn-pisca .9s linear infinite;
    -moz-animation: btn-pisca .9s linear infinite;
    -ms-animation: btn-pisca .9s linear infinite;
    -o-animation: btn-pisca .9s linear infinite;
    animation: btn-pisca .9s linear infinite;

      /*display: block;
      background-color: rgb(248, 4, 4);
      color: rgb(255, 251, 0);
      padding: 10px;
      text-align: center;
      font-weight: bolder;
      text-decoration: solid; */
      
  }
  
  a:hover{
      background-color: rgb(0, 255, 21);
  }
  
