@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}

html,body{
   height: 110vh;
    width: 100vw;
    background-color: black;

}  
    
body{
    background: url('../imagens/fundo-satis_menor.jpg') repeat; /* no-repeat top center = imagem cheia */
    background-size: ; /* para preencher tela usa=cover */
    background-attachment:  ;
    box-shadow: rgba(0, 0, 0, 0.671) 0.5px 0.5px .5px .5px;
}

main{
    position: relative;
    height: 105vh;
    
    background-color: rgba(0, 128, 0, 0);
}

section#telefone{ /* fixa no meio da tela */
    position: absolute;
    top: 50%;
    left: 40%; /* no meio deve ser 50% */
    transform: translate(-50%,-50%);

    height: 627px;
    width: 311px;       
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80.51px;
    left: 23px;
    width: 266px;
    height: 470px;
    box-shadow: rgba(0, 0, 0, 0.432) 0.5px 0.5px .5px .5px;
}
section#redes-sociais img{    
    width: 40px;
    margin: 10px;

    border-radius: 50%;/* botão fica redondo */
    box-shadow: 5px 5px 10px black;
    
}
section#redes-sociais{
    text-align: right; /* parei aqui 19:12 19-12 */
}

section#redes-sociais img:hover{
    border: 2px solid rgb(0, 255, 34);
    transform: -5px,-5px,10px;
    transition: 0.1s, border .3s;
}
div{
    text-align: center; /* alinha botão centro topo tela */
}